<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="row mb-15">
  <div class="form-group" [ngClass]="aplicaCssErro(nome)"
  >
    <div class="col-sm-12 col-form-label">
      <label for="nome">Nome</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" [ngModel]="usuario.nome" required
       #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched">
    </div>
    <app-campo-control-erro mensagemErro="Nome é obrigatório." 
    [mostrarErro]="verificaValidTouched(nome)">
    </app-campo-control-erro>
  </div>
  <br>

  <div class="form-group" [ngClass]="aplicaCssErro(email)">
    <div class="col-sm-12 col-form-label">
      <label for="email">Email</label>
    </div>
    <div class="col-sm-12">
      <input type="email" class="form-control" id="email" placeholder="nome@email.com" name="email" [ngModel]="usuario.email"
      email
      required
      #email="ngModel"
      [class.is-invalid]="!email.valid && email.touched"
      >
      <app-campo-control-erro mensagemErro="Email inválido." 
        [mostrarErro]="verificaValidTouched(email)">
      </app-campo-control-erro>
    </div>
  </div>

  <div ngModelGroup="endereco">
    <div class="form-group row"  >
      <div class="col-md-3" [ngClass]="aplicaCssErro(cep)">
        <label for="cep" class="col-sm-3 col-form-label" >CEP</label>
        <input type="text" class="form-control" id="cep" name="cep" ngModel required
        #cep="ngModel" [class.is-invalid]="!cep.valid && cep.touched"/>
        <app-campo-control-erro mensagemErro="CEP é obrigatório." 
          [mostrarErro]="verificaValidTouched(cep)">
        </app-campo-control-erro>
      </div>

      <div class="col-md-3" [ngClass]="aplicaCssErro(numero)">
        <label for="numero" class="col-sm-3 col-form-label" >Número</label>
        <input type="text" class="form-control" id="numero" name="numero" ngModel required
        #numero="ngModel" [class.is-invalid]="!numero.valid && numero.touched"/>
        <app-campo-control-erro mensagemErro="Número é obrigatório." 
          [mostrarErro]="verificaValidTouched(numero)">
        </app-campo-control-erro>
      </div>

      <div class="col-md-6">
        <label for="complemento" class="col-sm-6 col-form-label" >Complemento</label>
        <input type="text" class="form-control" id="complemento" name="complemento" ngModel
        #complemento="ngModel" />
      </div>
    </div>

    <div class="form-group" [ngClass]="aplicaCssErro(rua)">
      <div class="col-sm-12 col-form-label">
        <label for="rua">Rua</label>
      </div>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="rua" placeholder="Rua" name="rua" [ngModel]="usuario.rua" required
        #rua="ngModel" [class.is-invalid]="!rua.valid && rua.touched">
      </div>
      <app-campo-control-erro mensagemErro="Rua é obrigatório." 
          [mostrarErro]="verificaValidTouched(rua)">
        </app-campo-control-erro>
    </div>
    <div class="form-group row">
      <div class="col-md-5" [ngClass]="aplicaCssErro(bairro)">
        <label for="bairro" class="col-sm-3 col-form-label" >Bairro</label>
        <input type="text" class="form-control" id="bairro" name="bairro" ngModel required
        #bairro="ngModel" [class.is-invalid]="!bairro.valid && bairro.touched"/>

        <app-campo-control-erro mensagemErro="Bairro é obrigatório." 
          [mostrarErro]="verificaValidTouched(bairro)">
        </app-campo-control-erro>
      </div>
      <div class="col-md-4" [ngClass]="aplicaCssErro(cidade)">
        <label for="cidade" class="col-sm-3 col-form-label" >Cidade</label>
        <input type="text" class="form-control" id="cidade" name="cidade" ngModel required
        #cidade="ngModel" [class.is-invalid]="!cidade.valid && cidade.touched"/>
        <app-campo-control-erro mensagemErro="Cidade é obrigatório." 
          [mostrarErro]="verificaValidTouched(cidade)">
        </app-campo-control-erro>
      </div>

      <div class="col-md-3" [ngClass]="aplicaCssErro(estado)">
        <label for="estado" class="col-sm-3 col-form-label" >Estado</label>
        <input type="text" class="form-control" id="estado" name="estado" ngModel required
        #estado="ngModel" [class.is-invalid]="!estado.valid && estado.touched"/>
        <app-campo-control-erro mensagemErro="Estado é obrigatório." 
          [mostrarErro]="verificaValidTouched(estado)">
        </app-campo-control-erro>
      </div>
    </div>
</div>

  <br>

  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>

  <app-form-debug [form]="f"></app-form-debug>

</form>
