<form class="row mb-15" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="col-sm-12 col-form-label">
        <label for="nome">Nome</label>
      </div>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome" >
      </div>
    </div>
    <br>

    <div class="form-group">
      <div class="col-sm-12 col-form-label">
        <label for="email">Email</label>
      </div>
      <div class="col-sm-12">
        <input type="email" class="form-control" id="email" placeholder="nome@email.com" formControlName="email">
      </div>
    </div>
    <br>
    <div class="row col-sm-6">
      <div class="col-sm-3">
        <button type="submit" class="btn btn-primary" >Submit</button>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-primary" (click)="resetar()" > Cancelar</button>
      </div>
    </div>
    <app-form-debug [form]="formulario"></app-form-debug>

</form>
